.container {
  margin-top: 40px;
}

body {
  background-color: #FB1;
  color: #666;
}

textarea {
  margin-top: 20px;
  margin-left: -40px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #666;
  box-shadow: 5px 5px 21px 0px rgba(0, 0, 0, 0.3) !important;
}

header {
  text-align: center;
  background-color: #666;
  color: white;
  padding: 5px 0 12px 0;
}

.divRight {
  padding-top: 4px;
}
